body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: screen;
  height: 50px;
}

.name-section p {
  font-size: 28px;
}
.navbar {
  display: flex;
  justify-content: start;
  margin: 0 40px;
}

.help-section,
.search-section {
  width: 246px;
  height: 40px;
  box-sizing: border-box;
}
.help-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 20px;
}

.help-section p {
  width: 195px;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 0px 1px #333;
  text-align: center;
  color: #333;
}

.search-section {
  display: flex;
  align-items: center;
  border: 2px solid #333;
  padding: 3px;
  border-radius: 5px;
  margin-left: 74px;
}

.search-section input[type="text"] {
  border: none;
  outline: none;
}
input[type="text"]::placeholder {
  color: gray;
  font-weight: 600;
  padding-left: 12px;
}
.search-section i {
  margin-left: 5px;
}
.fa-search {
  margin-right: 10px;
}

.wallet-section {
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 2px solid #333;
  padding: 3px;
  border-radius: 5px;
  margin-left: 14px;
}

.wallet-section p {
  margin-left: 15px;
}
.wallet-section p,
i {
  font-size: 18px;
  font-weight: 600;
}
.logout-section {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  cursor: pointer;
}
.fa-arrow-right-from-bracket {
  margin-top: 8px;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: 300;
}

/* mini Navbar  */

.mini-banner {
  background-color: #001f3f;
  text-align: center;
  overflow: hidden;
  min-width: screen;
}

.mini-banner p {
  color: white;
}

.rtl-text {
  animation: scrollText 25s linear infinite;
  font-size: 18px;
  font-weight: 600;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
